:root {
    --battery-blue:#0c1e8d;
    --battery-yellow: #f8c905;
    --white: #F1F2F6;
    --black: #101218;
    --dark-grey: #212531;
    --grey: #ddd;
    --light-grey: #F3F4F7;
    --dark-blue: #080F4A;
}

h2 {
    font-weight: bold !important;
}
  
h2, h3, h4, h5, h5 {
    color: var(--black) !important;
}
  
h6 {
    color: var(--dark-grey) !important;
    opacity: 80%;
}

#footer h6 {
    color: var(--white) !important;
    opacity: 100% !important;
}

.btn-primary {
  --bs-btn-bg: #39A9DB !important;
  --bs-btn-border-color: #39A9DB !important;
  --bs-btn-hover-bg: #238DBE !important;
  --bs-btn-hover-border-color: #238DBE !important;
  --bs-btn-active-bg: #238DBE !important;
  --bs-btn-active-border-color: #238DBE !important;
  --bs-btn-disabled-bg: #39A9DB !important;
  --bs-btn-disabled-border-color: #39A9DB !important;
}