#listing {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    width: 100%;
    height: fit-content;
    border: 2px solid var(--light-grey);
    border-radius: 5px;
}

#listing img {
    width: 6vw;
    object-fit: cover;
    margin-right: 1rem;
}

#listingContainer {
    display: inline-flex;
    flex-direction: column;
}

#listingContainer h6 {
    width: min-content;
    color: var(--dark-grey);
    font-weight: 300;
}

#listingCart {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    text-align: end;
    justify-items: end;
    width: 20%;
    justify-content: space-around;
}

#listingCart h4 {
    width: min-content;
    margin-left: auto;
}

#filter-icon {
    height: 3rem;
    margin: 0 auto;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    #listing img {
        width: 5rem;
        object-fit: cover;
        margin-right: 1rem;
    }

    #listing {
        width: 80vw;
    }

    #listingDetails {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    #listing {
        width: 100%;
    }

    #listing img {
        width: 8rem;
    }

    .listing-a {
        width: 100%;
    }

    #cartContainer {
        width: 100%;
    }
}